
{% extends "index.html" %}

<style>
nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
div.container {
    width: 100%;
    border: 1px solid gray;
}
</style>
<div class="container">
{% block tweets %}

    <center><h1> Trending On Twitter: </h1>
    {% for t in trend %}
    <nav>
      <ul>
    <strong> {{t | safe}} </strong>
    </br>
     </ul>
  </nav>

    {% endfor %}
</center>


    {% for t in trend_tweet %}
  <center>
    {{t | safe}}

    <p>---------------------------------------------------------------------------------------------</p>
    </center>
    {% endfor %}

 {% endblock %}
</div>
